<div class="login-container">
    <div class="panel panel-default" style="width:40vw">
        <div class="panel-body">
            <form >
                <div class="input-group">
                    <span class="input-group-addon glyphicon glyphicon-user"></span>
                    <input type="text" class="form-control" placeholder="Username">
                </div>
                <br />
                <div class="input-group">
                    <span class="input-group-addon glyphicon glyphicon-lock"></span>
                    <input type="password" class="form-control" placeholder="Password" />
                </div>
                <br />
                <div class="text-center">
                    <button id="login-btn" type="submit" ng-click="login()" class="btn btn-primary">Login</button>
                    <button id="register-btn" type="submit" ng-click="register()" class="btn btn-warning">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>